# VS Code
.vscode/

# Env
# .env # Exposed for the purpose of sharing environment variables in the project (Non-sensitive)

# Logs / Data
*.log
*.logs
*.pid
*.db
*.parquet
*.csv

# MinIO / Postgres data
minio/data/
postgres/data/

# Logs
airflow/logs/


# Python
__pycache__/
*.pyc