# VSCode
.vscode/

# Env
# .env # Exposed for the purpose of sharing environment variables in the project (Non-sensitive)

# Logs
*.log

# MinIO / Postgres data
minio/data/
postgres/data/

# Logs
airflow/logs/
logs/


# Python
__pycache__/
*.pyc
.venv