services:
  warehouse_postgres:
    image: postgres:15
    container_name: warehouse_postgres
    environment:
      POSTGRES_USER: olistadmin
      POSTGRES_PASSWORD: olistadmin
      POSTGRES_DB: dbo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: olist_user
      MINIO_ROOT_PASSWORD: olist_pass
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  spark:
    build:
      context: ./spark-app
      dockerfile: Dockerfile
    container_name: spark-app-container
    env_file:
      - .env
    depends_on:
      - minio
    volumes:
      - ./spark-app:/opt/spark-app
    command: tail -f /dev/null

  airflow:
    build:
      context: ./airflow
      dockerfile: Dockerfile
    container_name: airflow-webserver
    depends_on:
      - spark
      - minio
      - warehouse_postgres
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://olistadmin:olistadmin@warehouse_postgres:5432/dbo
    volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/scripts:/opt/airflow/scripts
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db init &&
      airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin ||
      true &&
      airflow webserver
      "

  airflow-scheduler:
    build:
      context: ./airflow
      dockerfile: Dockerfile
    container_name: airflow-scheduler
    depends_on:
      - airflow
      - warehouse_postgres
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://olistadmin:olistadmin@warehouse_postgres:5432/dbo
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/scripts:/opt/airflow/scripts
      - ./airflow/logs:/opt/airflow/logs
      - ./data:/data
    entrypoint: /bin/bash
    command: -c "sleep 30 && airflow scheduler"

volumes:
  minio_data:
  postgres_data:
