services:
  warehouse_postgres:
    image: postgres:15
    container_name: warehouse_postgres
    environment:
      POSTGRES_USER: olistadmin
      POSTGRES_PASSWORD: olistadmin
      POSTGRES_DB: dbo
    ports:
      - "5432:5432"
    volumes:
      - warehouse_postgres:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  spark:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spark-app-container
    depends_on:
      - minio
    volumes:
      - ./app:/opt/spark-app
      - ./data:/data
    command: tail -f /dev/null

  airflow-webserver:
    image: apache/airflow:2.7.3
    depends_on:
      - spark
      - minio
      - warehouse_postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow_user:airflow_password@postgres:5432/airflow_db
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db init &&
      airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin ||
      true &&
      airflow webserver
      "

  airflow-scheduler:
    image: apache/airflow:2.7.3
    depends_on:
      - airflow-webserver
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://warehouse_user:warehouse_password@warehouse_postgres:5432/airflow_db
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
    command: airflow scheduler

volumes:
  minio_data:
  postgres_data:
